/* 
    Created on : 08.01.2018
    Author     : misterkonst@yandex.ru
*/
body{
    background-color: #e3e3e3;
}
.main_title{
    color: #333;
    margin-top: 40px;
    font-size: 25px;
}
/* блок к короткой ссылкой */
.short_block{
    margin-top: 20px;
}
.short_block_link{
    background-color: #fff;
    color: #495057;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    cursor: pointer;
}
